<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gringuard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gringuard"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".Profile"
            android:exported="false"
            android:label="Set Up Profile" />

        <activity
            android:name=".DashBoardActivity"
            android:exported="true" />

        <activity
            android:name=".EditActivity"
            android:exported="false"
            android:label="Edit Profile" />

        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".DentistRecommendationActivity"
            android:exported="false" />

        <activity
            android:name=".HelpSupportActivity"
            android:exported="false" />

        <activity
            android:name=".AboutUsActivity"
            android:label="About Us"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MainActivity_login"
            android:exported="false" />

        <activity
            android:name=".HealthActivity"
            android:exported="false"
            android:label="Health Tracker" />

        <activity
            android:name=".Caries_Activity"
            android:exported="false" />

        <activity
            android:name=".Gingivitis_Activity"
            android:exported="false" />

        <activity
            android:name=".Fractured_Teeth_Activity"
            android:exported="false" />

        <activity
            android:name=".GingitivitisLowActivity"
            android:exported="false"
            android:label="Gingivitis Tips" />

        <activity
            android:name=".CariesLowActivity"
            android:exported="false" />

        <activity
            android:name=".CariesMediumactivity"
            android:exported="false" />

        <activity
            android:name=".FracturedLowActivity"
            android:exported="false" />

        <activity
            android:name=".FracturedMediumActivity"
            android:exported="false" />

        <activity
            android:name=".GingivitisActivityMedium"
            android:exported="false" />

        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <activity
            android:name=".FollowPlanCariesLow"
            android:exported="false" />

        <activity
            android:name=".FollowPlanCariesMedium"
            android:exported="false" />

        <activity
            android:name=".FollowPlanFracturedLow"
            android:exported="false" />

        <activity
            android:name=".FollowPlanFracturedMedium"
            android:exported="false" />

        <activity
            android:name=".FollowPlanGingivitisLow"
            android:exported="false" />

        <activity
            android:name=".FollowPlanGingivitisMedium"
            android:exported="false" />

        <activity
            android:name=".CalculusActivity"
            android:exported="false" />

        <activity
            android:name=".CalculusActivityLow"
            android:exported="false" />

        <activity
            android:name=".CalculusActivityMedium"
            android:exported="false" />

        <activity
            android:name=".FollowPlanCalculusLow"
            android:exported="false" />

        <activity
            android:name=".FollowPlanCalulusMedium"
            android:exported="false" />

        <activity
            android:name=".TrackGoalsActivity"
            android:exported="false" />

        <activity
            android:name=".ReportActivity"
            android:exported="false" />

        <activity
            android:name=".plan_fo_21_days"
            android:exported="false"
            android:theme="@style/CustomPopupTheme" />

        <activity android:name=".Gingivitis1_Activity"
            android:exported="false" />

        <activity android:name=".CalculusActivity1"
            android:exported="false" />

        <activity android:name=".Fractured_Teeth_Activity1"
            android:exported="false" />

        <activity android:name=".CariesActivity1"
            android:exported="false" />
    </application>

</manifest>